<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tennis Pro Shop</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/home" class="navbar">Home</a></li>
      <li><a href="/racquets" class="navbar">Racquets</a></li> 
      <li><a href="/balls" class="navbar">Tennis Balls</a></li>
      <li><a href="/shoes" class="navbar">Shoes</a></li>
      <li><a href="/apparel" class="navbar">Apparel</a></li>
      <li><a href="/listings" class="navbar">Listings</a></li>
      <li><a href="/listings/new" class="navbar">Create Listing</a></li>
    </ul> 
  </nav>
  