<%- include('header.ejs') %>
<div class="homepage">
  <img src="/assets/Tennis-Pro-Shop-4-16-2024.jpg" alt="logo" class="homePhoto2">

  <img src="https://png.pngtree.com/thumb_back/fw800/background/20231002/pngtree-3d-render-of-tennis-ball-and-racket-image_13557462.png" class="homePhoto1">
  <h1 id="slogan1">Best In Slot Gear</h1>

  <img src="https://images.squarespace-cdn.com/content/v1/63b78102c474a51cb934d32d/f8aff260-a3fc-4f7d-9ff1-4d8c1bd2ddac/miles-clark-photography-lululemon-arizona-tennis-08%401x.jpg" class="homePhoto1" alt="Number 1">
     
  <h1 id="slogan2">Winning With Style</h1>
</div>

<%- include('footer.ejs') %>