<%- include('header.ejs') %>
<h1>New Listing</h1>

<form action="/listings" method="POST">
  Listing Name: <input type="text" name="listingName" /><br/>
  Author Name: <input type="text" name="authorName" /><br/>
  Description: <input type="text" name="description" /><br/>
  Price: <input type="number" name="price" /><br/>
  Image: <input type="text" name="img" id="img" /><br/>
  <input type="submit" name="" value="Create Post" />
</form>

<%- include('footer.ejs') %>
