<%- include('header.ejs') %>
<h1>Racquets</h1>
<nav class="navbar">
  <ul>
    <li><a href="/racquets" class="navbar">Racquets</a></li> 
    <!-- <li><a href="/pokemon/new" class="navbar">Add New Pokemon</a></li>
    <li><a href="/pokemon/trade" class="navbar">Trade</a></li>
    <li><a href="/pokemon/purchase" class="navbar">Purchase</a></li> -->
  </ul> 
</nav>
<%- include('footer.ejs') %>