/* Racquets */
.racquets {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.individualListing {
  border: 2px solid lightgray;
  display: block;
  height: auto;
  
}

.Img {
  width: 300px;
}

.racquets a{
  color: black;
}

/* Tennis Balls */
.balls {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.balls a{
  color: black;
}

.ballsImg {
  width: 300px;
  padding: 80px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 20px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: aliceblue;
}

h1 {
  font-size: 60px;
}

.navbar {
  color: rgb(214, 214, 214);
  margin: 0 auto;
  opacity: 0.9;
  background-color: rgb(50, 50, 50);

}

.navbar ul{
  overflow: hidden;
  
}

.navbar a{
  display: block;
}

.navbar li{
  float: left;
  
}

.navbar a:hover {
  background-color: rgb(36, 36, 36);
}

#newListing {
  color: black;
}

.listings a{
  color: black;
}

.listingImg {
  width: 400px;
}