/* ======== */
/* Item Cards */
/* ======== */
.individualListing {

  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  min-width: 250px;;
  max-height: 320px;
  padding: 10px;
  text-align: center;
  font-family: arial;
}

/* ======== */
/* Show Page Card */
/* ======== */
.showImg {
  width: 400px;
}

.showDiv {
  max-width: 800px;
  min-width: 200px;;
  max-height: 800px;
  padding: 10px;
  text-align: center;
  font-family: arial;
}

.description {
  color: black;
  font-size: 30px;

}

/* ======== */
/* Racquets */
/* ======== */
.racquets {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}


.Img {
  width: 200px;
}

.racquets a{
  color: black;
  font-size: 14px;
}
/* ============== */
/* Tennis Balls */
/* ============== */
.balls {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

.balls a{
  color: black;
  font-size: 14px;
}

.ballsImg {
  width: 150px;
  
}

/* ============== */
/* Shoes */
/* ============== */
.shoes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

.shoes a{
  color: black;
  font-size: 14px;
}

/* ============== */
/* Apparel */
/* ============== */
.apparel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}

.apparel a{
  color: black;
  font-size: 12px;
}

.apparelImg {
  width: 180px;
}


li {
  list-style-type: none;
  text-decoration: none;
  margin: 20px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: aliceblue;
}

h1 {
  font-size: 60px;
}

.navbar {
  color: rgb(214, 214, 214);
  margin: 0 auto;
  opacity: 0.9;
  background-color: rgb(50, 50, 50);

}

.navbar ul{
  overflow: hidden;
  
}

.navbar a{
  display: block;
}

.navbar li{
  float: left;
  
}

.navbar a:hover {
  background-color: rgb(36, 36, 36);
}

#newListing {
  color: black;
}

.listings a{
  color: black;
}

.listingImg {
  width: 400px;
}